* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(./img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto';
}

.header-container {
    width: 1024px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.header-logo a {
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    
}

.logo-text {
    margin-top: 5px;
    margin-left: 8px;
}

.logo-text-milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.logo-text-holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.header-forms a {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.link-tel {
    margin-top: 19px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.main-wrapper {
    width: 1024px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(261px, auto);
    gap: 37px 62px;
    justify-items: stretch;
    align-items: stretch;
}

.card-shopping {
    display: flex;
    justify-content: center;
}

.main-content a {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main-content p {
    margin-top: 20px;
}

.wrapper-hidden {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 219px;
}

.img-shopping {
    width: 300px;
    height: 220px;
}

.block-hidden {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px 12px 16px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: bottom .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.order {
    font-size: 10px;
    line-height: 10px;
    color:#FFFFFF;
}

.sum {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
}

.symbol-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#FFFFFF;
    margin-top: 22px;
}


.card-sightseeing {
    display: flex;
    justify-content: center;
}

.img-sightseeing {
    width: 300px;
    height: 220px;
}

.card-food {
    display: flex;
    justify-content: center;
}

.img-food {
    width: 300px;
    height: 220px;
}

.card-bars {
    display: flex;
    justify-content: center;
}

.img-bars {
    width: 300px;
    height: 220px;
}

.card-art {
    display: flex;
    justify-content: center;
}

.img-art {
    width: 300px;
    height: 220px;
}

.card-walking {
    display: flex;
    justify-content: center;
}

.img-walking {
    width: 300px;
    height: 220px;
}

.wrapper-hidden {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 219px;
}

.block-hidden {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px 12px 16px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: bottom .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cost {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order {
    font-size: 10px;
    line-height: 10px;
    color:#FFFFFF;
}

.sum {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
}

.symbol-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:#FFFFFF;
    margin-top: 22px;
}


.footer-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 15px;
}

.footer-wrapper {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

a:hover .block-hidden {
    bottom: 0;
}

.header-logo:hover {
    filter: invert(45%) sepia(55%) saturate(1397%) hue-rotate(345deg) brightness(96%) contrast(97%);
}

.symbol-text::after {
    content: url(./img/Vector\ 1.png);
    padding-left: 16px;
}

a:hover {
    color: #F26522;
}